.nav-left-sidebar.sidebar-dark
    .menu-list
      nav.navbar.navbar-expand-lg.navbar-light
        a.d-xl-none.d-lg-none(href='dashboard') &Vcy;&icy;&dcy;&zhcy;&iecy;&tcy;&ycy;
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.flex-column.navbar-color
            li.nav-divider
              h4 &Mcy;&iecy;&ncy;&yucy;
            li.nav-item
              a.nav-link(href='/dashboard' aria-expanded='false')
                i.material-icons.btn widgets
                | Виджеты
            li.nav-item
              a.nav-link(href='/dashboard/payment_settings' aria-expanded='false')
                i.material-icons.btn settings
                | Настройка оплаты
            li.nav-item
              a.nav-link(href='/dashboard/payment_history' aria-expanded='false')
                i.fa.fa-history.btn
                | История оплаты