.dashboard-header    
    nav.navbar.navbar-expand-lg.bg-white.fixed-top
      a.navbar-brand(href='/dashboard')
        img(src='assets/images/logo.png' alt='' title='')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.navbar-right-top
          li.nav-item.dropdown.notification
            a#navbarDropdownMenuLink1.nav-link.nav-icons(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              i.fas.fa-fw.fa-bell
              span.indicator
            ul.dropdown-menu.dropdown-menu-right.notification-dropdown
              li
                .notification-title  Notification
                .notification-list
                  .list-group
                    a.list-group-item.list-group-item-action.active(href='#')
                      .notification-info
                        .notification-list-user-img
                          img.user-avatar-md.rounded-circle(src='assets/images/avatar-2.jpg' alt='')
                        .notification-list-user-block
                          span.notification-list-user-name Добро пожаловать в Xdonat. Вам тут понравится!
                          .notification-date 2 min ago
                    //- a.list-group-item.list-group-item-action(href='#')
                      .notification-info
                        .notification-list-user-img
                          img.user-avatar-md.rounded-circle(src='assets/images/avatar-3.jpg' alt='')
                        .notification-list-user-block
                          span.notification-list-user-name Kotok Bash 
                          | is now following you
                          .notification-date 2 days ago
                    //- a.list-group-item.list-group-item-action(href='#')
                      .notification-info
                        //- .notification-list-user-img
                          img.user-avatar-md.rounded-circle(src='assets/images/avatar-4.jpg' alt='')
                        .notification-list-user-block
                          span.notification-list-user-name Monaan Pechi
                          |  is watching your main repository
                          .notification-date 2 min ago
                    //- a.list-group-item.list-group-item-action(href='#')
                      .notification-info
                        .notification-list-user-img
                          img.user-avatar-md.rounded-circle(src='assets/images/avatar-5.jpg' alt='')
                        .notification-list-user-block
                          span.notification-list-user-name Jessica Caruso
                          | accepted your invitation to join the team.
                          .notification-date 2 min ago
              li
                .list-footer
                  a(href='#') View all notifications
          li.nav-item.dropdown.nav-
            //- - var imageurl = #{data.profileImageUrl}
            a#navbarDropdownMenuLink2.nav-link.nav-user-img(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              img.user-avatar-md.rounded-circle(src=data.profileImageUrl alt='')
            .dropdown-menu.dropdown-menu-right.nav-user-dropdown(aria-labelledby='navbarDropdownMenuLink2')
              .nav-user-info
                h5.mb-0.text-white.nav-user-name #{data.username}
                span.status
                span.ml-2 Online
              a.dropdown-item(href='#')
                i.fas.fa-user.mr-2
                | Account
              a.dropdown-item(href='#')
                i.fas.fa-cog.mr-2
                | Setting
              a.dropdown-item(href='/auth/logout')
                i.fas.fa-power-off.mr-2
                | Logout
