doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
  link(href='/dashboard/assets/vendor/fonts/circular-std/style.css' rel='stylesheet')
  link(rel='stylesheet' href='/dashboard/assets/vendor/fonts/fontawesome/css/fontawesome-all.css')
  //- link(rel='stylesheet' href='/dashboard/assets/vendor/charts/chartist-bundle/chartist.css')
  //- link(rel='stylesheet' href='/dashboard/assets/vendor/charts/morris-bundle/morris.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.min.css')
  link(rel='stylesheet' href='/dashboard/assets/vendor/charts/c3charts/c3.css')
  link(rel='stylesheet' href='/dashboard/assets/vendor/fonts/flag-icon-css/flag-icon.min.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/dashboard/assets/libs/css/style.css')
  title XDonat - Панель управления
// ==============================================================
// main wrapper
// ==============================================================
.dashboard-main-wrapper
  // ==============================================================
  // navbar
  // ==============================================================
  include /dashboard/navbar
  // ==============================================================
  // end navbar
  // ==============================================================
  // ==============================================================
  // left sidebar
  // ==============================================================
  include /dashboard/left_sidebar
  // ==============================================================
  // end left sidebar
  // ==============================================================
  // ==============================================================
  // wrapper
  // ==============================================================
  .dashboard-wrapper
    .dashboard-ecommerce
      .container-fluid.dashboard-content
        // ==============================================================
        // pageheader
        // ==============================================================
        .row
          .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
            .page-header
              h2.pageheader-title Текстовое сообщение
              p.pageheader-text
              .page-breadcrumb
                nav(aria-label='breadcrumb')
                  ol.breadcrumb
                    li.breadcrumb-item
                      a.breadcrumb-link(href='/dashboard') Меню
                    li.breadcrumb-item.active(aria-current='page') Текст
        // ==============================================================
        // end pageheader
        // ==============================================================
        .ecommerce-widget
          .row
            .col-xl-4.col-lg-6.col-md-6.col-sm-12.col-12
                h4 Скопируйте эту ссылку и вставьте в OBS
                - var userId = data._id;
                input#myInput(type='text', value='https://www.xdonat.com/donation/text_donate?token=' + userId)
                hr
                button(type='button' onclick='copyText()', class='btn') СКОПИРОВАТЬ ССЫЛКУ


              
    // ==============================================================
    // footer
    // ==============================================================
    include /dashboard/footer
    // ==============================================================
    // end footer
    // ==============================================================
  // ==============================================================
  // end wrapper
  // ==============================================================
// ==============================================================
// end main wrapper
// ==============================================================
// Optional JavaScript
// jquery 3.3.1
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
// bootstap bundle js
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.js')
// slimscroll js
script(src='/dashboard/assets/vendor/slimscroll/jquery.slimscroll.js')
// main js
script(src='/dashboard/assets/libs/js/main-js.js')
// chart chartist js
//- script(src='/dashboard/assets/vendor/charts/chartist-bundle/chartist.min.js')
//- // sparkline js
script(src='/dashboard/assets/vendor/charts/sparkline/jquery.sparkline.js')
// morris js
script(src='/dashboard/assets/vendor/charts/morris-bundle/raphael.min.js')
//- script(src='/dashboard/assets/vendor/charts/morris-bundle/morris.js')
//- // chart c3 js
script(src='/dashboard/assets/vendor/charts/c3charts/c3.min.js')
script(src='/dashboard/assets/vendor/charts/c3charts/d3-5.4.0.min.js')
script(src='/dashboard/assets/vendor/charts/c3charts/C3chartjs.js')
script.
    function copyText() {
    var copyText = document.getElementById("myInput");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");
    var tooltip = document.getElementById("myTooltip");
    tooltip.innerHTML = "Copied: " + copyText.value;
    }

//- script(src='assets/libs/js//dashboard-ecommerce.js')
