doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
  link(href='assets/vendor/fonts/circular-std/style.css' rel='stylesheet')
  link(rel='stylesheet' href='assets/vendor/fonts/fontawesome/css/fontawesome-all.css')
  //- link(rel='stylesheet' href='assets/vendor/charts/chartist-bundle/chartist.css')
  //- link(rel='stylesheet' href='assets/vendor/charts/morris-bundle/morris.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.min.css')
  link(rel='stylesheet' href='assets/vendor/charts/c3charts/c3.css')
  link(rel='stylesheet' href='assets/vendor/fonts/flag-icon-css/flag-icon.min.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='assets/libs/css/style.css')
  script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(55904455, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
    });
  noscript
    div
      img(src='https://mc.yandex.ru/watch/55904455', style='position:absolute; left:-9999px;', alt='')

  title XDonat - Панель 
// ==============================================================
// main wrapper
// ==============================================================
.dashboard-main-wrapper
  // ==============================================================
  // navbar
  // ==============================================================
  include dashboard/navbar
  // ==============================================================
  // end navbar
  // ==============================================================
  // ==============================================================
  // left sidebar
  // ==============================================================
  include dashboard/left_sidebar
  // ==============================================================
  // end left sidebar
  // ==============================================================
  // ==============================================================
  // wrapper
  // ==============================================================
  .dashboard-wrapper
    .dashboard-ecommerce
      .container-fluid.dashboard-content
        // ==============================================================
        // pageheader
        // ==============================================================
        .row
          .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
            .page-header
              h2.pageheader-title Виджеты
              p.pageheader-text
              .page-breadcrumb
                nav(aria-label='breadcrumb')
                  ol.breadcrumb
                    li.breadcrumb-item
                      a.breadcrumb-link(href='#') Меню
                    li.breadcrumb-item.active(aria-current='page') Виджеты
        // ==============================================================
        // end pageheader
        // ==============================================================
        - var username = data.username;
        - var link = "/streamer/";
        .ecommerce-widget
          .row
            .col-xl-4.col-lg-6.col-md-6.col-sm-12.col-12
              a.breadcrumb-link.active(href=link + username target='_blank')
                .card
                  .card-body
                    h3.text-muted.font-weight-bold Ссылка на вашу страницу
            .col-xl-4.col-lg-6.col-md-6.col-sm-12.col-12
              a.breadcrumb-link.active(href='/widgets/wheel_of_fortune')
                .card
                  .card-body
                    h3.text-muted.font-weight-bold Колесо Фортуны
            .col-xl-4.col-lg-6.col-md-6.col-sm-12.col-12
              a.breadcrumb-link.active(href='/widgets/text_donate')
                .card
                  .card-body
                    h3.text-muted.font-weight-bold Текстовое Сообщение
    // ==============================================================
    // footer
    // ==============================================================
    include dashboard/footer
    // ==============================================================
    // end footer
    // ==============================================================
  // ==============================================================
  // end wrapper
  // ==============================================================
// ==============================================================
// end main wrapper
// ==============================================================
// Optional JavaScript
// jquery 3.3.1
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
// bootstap bundle js
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.js')
// slimscroll js
script(src='assets/vendor/slimscroll/jquery.slimscroll.js')
// main js
script(src='assets/libs/js/main-js.js')
// chart chartist js
//- script(src='assets/vendor/charts/chartist-bundle/chartist.min.js')
//- // sparkline js
script(src='assets/vendor/charts/sparkline/jquery.sparkline.js')
// morris js
script(src='assets/vendor/charts/morris-bundle/raphael.min.js')
//- script(src='assets/vendor/charts/morris-bundle/morris.js')
//- // chart c3 js
script(src='assets/vendor/charts/c3charts/c3.min.js')
script(src='assets/vendor/charts/c3charts/d3-5.4.0.min.js')
script(src='assets/vendor/charts/c3charts/C3chartjs.js')
//- script(src='assets/libs/js/dashboard-ecommerce.js')
