form(method='POST', action='https://money.yandex.ru/quickpay/confirm.xml')
  input(type='hidden', name='receiver', value=reciever)
  input(type='hidden', name='formcomment', value='Проект «Железный человек»: реактор холодного ядерного синтеза')
  input(type='hidden', name='short-dest', value='Проект «Железный человек»: реактор холодного ядерного синтеза')
  input(type='hidden', name='label', value=id)
  input(type='hidden', name='quickpay-form', value='donate')
  input(type='hidden', name='targets', value='Донат')
  input(type='hidden', name='sum', value=amount, data-type='number')
  input(type='hidden', name='comment', value='Тупо лучшему!')
  input(type='hidden', name='need-fio', value='false')
  input(type='hidden', name='need-email', value='false')
  input(type='hidden', name='need-phone', value='false')
  input(type='hidden', name='need-address', value='false')
  label
    input(type='radio', name='paymentType', value='PC')
    | Яндекс.Деньгами
  label
    input(type='radio', name='paymentType', value='AC')
    | Банковской картой
  input(type='submit', value='Перевести')
