head
  // Mobile Specific Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon' href='/favicon.ico')
  // Author Meta
  meta(name='author' content='Xdonat')
  // Meta Description
  meta(name='description' content='Игры, донаты для стримеров')
  // Meta Keyword
  meta(name='keywords' content='стример, twitch, твич, стрим, донаты, obs')
  // meta character set
  meta(charset='UTF-8')
  // Site Title
  title XDonat
  //
    CSS
    =============================================
  link(rel='stylesheet' href='dir_landing/css/linearicons.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='dir_landing/css/magnific-popup.css')
  link(rel='stylesheet' href='dir_landing/css/nice-select.css')
  link(rel='stylesheet' href='dir_landing/css/hexagons.min.css')
  link(rel='stylesheet' href='dir_landing/css/owl.carousel.css')
  link(rel='stylesheet' href='dir_landing/css/main.css')
  script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(55904455, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
    });
  noscript
    div
      img(src='https://mc.yandex.ru/watch/55904455', style='position:absolute; left:-9999px;', alt='')


// start header Area
header#header
  .container.main-menu
    .row.align-items-center.justify-content-between.d-flex
      #logo
        a(href='/')
          img(src='dir_landing/img/logo.png' alt='' title='')
      nav#nav-menu-container
        ul.nav-menu
          li.menu-active
            a(href='/') Домой
          li
            //- a(href='#') О нас
          // <li><a href="pricing.html">Pricing</a></li>
          //
            <li class="menu-has-children"><a href="">Pages</a>
            <ul>
            <li><a href="elements.html">Elements</a></li>
            </ul>
            </li>
          //
            <li class="menu-has-children"><a href="">Blog</a>
            <ul>
            <li><a href="blog-home.html">Blog Home</a></li>
            <li><a href="blog-single.html">Blog Single</a></li>
            </ul>
            </li>
          li
            a(href='/auth/twitch') Получи - Ранний доступ
            //- a(href='/auth/twitch') Войти/Регистрация
// end header Area
// start banner Area
section.home-banner-area
  .container
    .row.fullscreen.d-flex.align-items-center.justify-content-between
      .home-banner-content.col-lg-6.col-md-6
        h1
          | Новый уровень погружения  
          br
          | Для зрителя
        p Получи самые лучшие инструменты для монетизации своих трансляций.
        .download-button.d-flex.flex-row.justify-content-start
          //
            <div class="buttons flex-row d-flex">
            <i class="fa fa-twitch" aria-hidden="true"></i>
            <div class="desc">
            <a href="/auth/twitch">
            <p>
            <span>Available</span> <br>
            on App Store
            </p>
            </a>
            </div>
            </div>
          .buttons.dark.flex-row.d-flex
            i.fa.fa-twitch(aria-hidden='true')
            .desc
              a(href='/auth/twitch')
                p
                  span Войти
                  br
                  | через Twitch.tv
      .banner-img.col-lg-4.col-md-6
         img.img-fluid(src='dir_landing/img/banner-img.png' alt='')
// End banner Area
// Start about-video Area
//- hr
//- section.about-video-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .col-lg-12    
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/180491843" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        //- .overlay.overlay-bg
        //- a.play-btn(href='https://www.youtube.com/watch?v=ARA0AxrnHdM')
        //-   img.img-fluid.mx-auto(src='dir_landing/img/play-btn.png' alt='')
// End about-video Area
// Start Pricing Area
// Start about Area
hr
section.about-area
  .container
    .row.align-items-center
      .col-lg-5.home-about-left
        img.img-fluid(src='/donation/wheel_donate/wheel_back.png', alt='')
      .offset-lg-1.col-lg-5.home-about-right
        h1
          | Колесо Фортуны и Слот
        p
        li Интерактивная игра - увеличит вовлеченность вашей аудитории на трансляции.
        li 3-х кратно увеличит размер и количество донатов
        li
          | Интересный контент и необычная атмосфера, которую вы можете создать при помощи игр и будущих виджетов
        p
        a.primary-btn.text-uppercase(href='/auth/twitch') Получить игры
// End about Area

hr
section.pricing-area
  .container
    .row.d-flex.justify-content-center
      .col-lg-6
        .section-title.text-center
          h2 Выбери лучший план
          p
            | Мы не берем никаких комиссий за наши услуги и предоставляем лучшие решения, которые дадут вам невероятный буст к интерактивности, вовлеченности и количеству донатов.
    .row
      .col-lg-4.col-md-6
        .single-price
          .top-sec.d-flex.justify-content-between
            .top-left
              h4 Начинающий
              strong 10 дней
            .top-right
              h1 0&#x20BD;
          .end-sec
            ul
              li Полный доступ к функционалу
              li 0% &kcy;&ocy;&mcy;&icy;&scy;&scy;&icy;&jcy;
              li Колесо Фортуны + Слот. Игра для твоих зрителей, которая принесет невероятный буст к донатам
              li &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&acy; &quot;&YAcy;&ncy;&dcy;&iecy;&kcy;&scy;.&Dcy;&iecy;&ncy;&softcy;&gcy;&icy;&quot;
            button.primary-btn.price-btn.mt-20 &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &pcy;&lcy;&acy;&ncy;
      .col-lg-4.col-md-6(name="pricing")
        .single-price
          .top-sec.d-flex.justify-content-between
            .top-left
              h4 &Pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&icy;&ocy;&ncy;&acy;&lcy;
              strong 1 месяц
            .top-right
              h1 &#x20BD;350
          .end-sec
            ul
              li Полный доступ к функционалу
              li 0% &kcy;&ocy;&mcy;&icy;&scy;&scy;&icy;&jcy;
              li Колесо Фортуны + Слот. Игра для твоих зрителей, которая принесет невероятный буст к донатам
              li &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&acy; &quot;&YAcy;&ncy;&dcy;&iecy;&kcy;&scy;.&Dcy;&iecy;&ncy;&softcy;&gcy;&icy;&quot;
            button.primary-btn.price-btn.mt-20 &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &pcy;&lcy;&acy;&ncy;
      .col-lg-4.col-md-6
        .single-price
          .top-sec.d-flex.justify-content-between
            .top-left
              h4 &Pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&icy;&ocy;&ncy;&acy;&lcy;
              strong(style='color:#53b332') 2 месяца
            .top-right
              h1 &#x20BD;499
          .end-sec
            ul
              h5
                li Самое выгодное предложение
              li Полный доступ к функционалу
              strong
                li Ранний доступ к новым играм и виджетам
              li 0% процентов комиссий
              li Колесо Фортуны + Слот. Игра для твоих зрителей, которая принесет невероятный буст к донатам
              li &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&acy; &quot;&YAcy;&ncy;&dcy;&iecy;&kcy;&scy;.&Dcy;&iecy;&ncy;&softcy;&gcy;&icy;&quot;
            button.primary-btn.price-btn.mt-20 &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &pcy;&lcy;&acy;&ncy;
// End Pricing Area
// Start Footer Area
footer.footer-area.section-gap
  .container
    .row
      .col-lg-2.col-md-6.single-footer-widget
        //- h4 О нас
        ul
          li
            a(href='https://vk.com/xdonat_andrey' target='_blank') Помощь
          li
            a(href='https://vk.com/xdonat_andrey' target='_blank') Контакты
          li
            //- a(href='#') Калькулятор
      .col-lg-4.col-md-6.single-footer-widget
        h4 &Rcy;&acy;&scy;&scy;&ycy;&lcy;&kcy;&acy;
        p &Ocy;&tcy;&pcy;&rcy;&acy;&vcy;&lcy;&yacy;&iecy;&mcy; &lcy;&ucy;&chcy;&shcy;&icy;&iecy; &pcy;&rcy;&ocy;&mcy;&ocy; &acy;&kcy;&tscy;&icy;&icy;!
        #mc_embed_signup.form-wrap
          form.form-inline(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
            input.form-control(name='EMAIL' placeholder='Your Email Address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" required='' type='email')
            button.click-btn.btn.btn-default
              span.lnr.lnr-arrow-right
            div(style='position: absolute; left: -5000px;')
              input(name='b_36c4fd991d266f23781ded980_aefe40901a' tabindex='-1' value='' type='text')
            .info
    .footer-bottom.row.align-items-center
      span.da-ui--footer__copy &copy; Xdonat.inc All rights reserved.
// End Footer Area
script(src='https://code.jquery.com/jquery-2.2.4.min.js' integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='dir_landing/js/easing.min.js')
script(src='dir_landing/js/hoverIntent.js')
script(src='dir_landing/js/superfish.min.js')
script(src='dir_landing/js/jquery.ajaxchimp.min.js')
script(src='dir_landing/js/jquery.magnific-popup.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js')
script(src='dir_landing/js/owl-carousel-thumb.min.js')
script(src='dir_landing/js/hexagons.min.js')
script(src='dir_landing/js/jquery.nice-select.min.js')
script(src='dir_landing/js/waypoints.min.js')
script(src='dir_landing/js/mail-script.js')
script(src='dir_landing/js/main.js')

