doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=EB+Garamond&display=swap', rel='stylesheet')
    title Text Donation
    style(media='screen').
      .container {
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-family: 'EB Garamond', serif;
      }
      h1 {
      color: #0abde3;
      }
    script(src='/socket.io/socket.io.js')
  body
    #donation.container(style='display:none;')
      h1#donater-info
      h2#amount
      h2#text
    //- #audio-container(style='display: none;')
      //- audio#audio(controls='', style='display: none;')
      //-   source(src='http://localhost:3000/donation/tts', type='audio/ogg')
      //-   source(src='http://localhost:3000/donation/tts', type='audio/mpeg')



    script(type='text/javascript').
      var socket = io();
      if (socket !== null) {
      
      var room = "#{user_token}";

      // Connection
      socket.on('connect', function() {
        socket.emit('room', room);
        console.log('connected to ' + room);
      });

      // Donation
      socket.on('text', function(data) {

      showDonation(data)
      soundSetup()


      function soundSetup(){

      var soundUrl = "/sounds/" + "#{user_token}.mp3"
      console.log(soundUrl)

      soundManager.setup({
          url: '/soundmanager/swf/',
          onready: function() {
          var mySound = soundManager.createSound({
          id: 'aSound',
          url: soundUrl
          });
          mySound.play();
          },
          ontimeout: function() {
              console.log('Could not load file')
              // Hrmm, SM2 could not start. Missing SWF? Flash blocked? Show an error, etc.?
          }
      });

      }

      setTimeout(function() {
      hideDonation()
      }, 5000);

      });


      }
      
      function showDonation(data) {
      console.log(data)
      var donationObj = JSON.parse(data)
      var x = document.getElementById("donation");
      x.style.display = "block";
      document.getElementById("donater-info").innerHTML = donationObj.donater;
      document.getElementById("amount").innerHTML = donationObj.amount;
      document.getElementById("text").innerHTML = donationObj.text;
      }

      function hideDonation() {
      var x = document.getElementById("donation");
      x.style.display = "none";
      }
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='/soundmanager/script/soundmanager2.js')
