doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=EB+Garamond&display=swap', rel='stylesheet')
    title Text Donation
    style(media='screen').
      .container {
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-family: 'EB Garamond', serif;
      }
      h1 {
      color: #0abde3;
      }
    script(src='/socket.io/socket.io.js')
  body
    #donation.container(style='display:none;')
      h1#donater-info
      h2#text
    //- #audio-container(style='display: none;')
      //- audio#audio(controls='', style='display: none;')
      //-   source(src='http://localhost:3000/donation/tts', type='audio/ogg')
      //-   source(src='http://localhost:3000/donation/tts', type='audio/mpeg')



    script(type='text/javascript').
      var socket = io();
      if (socket !== null) {
      // название рума будет нашим user_id
      var room = "abc123";
      // connection
      socket.on('connect', function() {
      // сюда заходит
      socket.emit('room', room);
      console.log('connected to ' + room);
      });

      // Donation
      socket.on('message', function(data) {
      
      //- appendAudio()
      //- var audio = document.getElementById("audio")
      //- audio.load();

      showDonation(data)


      soundManager.setup({
          url: '/soundmanager/swf/',
          onready: function() {
          var mySound = soundManager.createSound({
          id: 'aSound',
          url: '/output.mp3'
          });
          mySound.play();
          //- mySound.canplay = function()
          //- {            
          },
          ontimeout: function() {
              console.log('Could not load file')
              // Hrmm, SM2 could not start. Missing SWF? Flash blocked? Show an error, etc.?
          }
      });
      //- audio.oncanplaythrough = function() {
      //-     //- alert("Can start playing video");
      //-     audio.play();
      //- };
      //- audio.addEventListener('oncanplay', function() { 
      //-     audio.play();
      //- }, false);
      
      //- audio.onended = () => {
      //- removeAudio()
      //- };

      setTimeout(function() {
      hideDonation()
      }, 7000);


      });


      }
      function showDonation(data) {
      console.log(data)
      var donationObj = JSON.parse(data)
      var x = document.getElementById("donation");
      x.style.display = "block";
      document.getElementById("donater-info").innerHTML = donationObj.donater + ' - ' + donationObj.amount;
      document.getElementById("text").innerHTML = donationObj.text;
      }
      function hideDonation() {
      var x = document.getElementById("donation");
      x.style.display = "none";
      }
      //- function appendAudio(){
      //- $('#audio-container').append(
      //- '<audio controls preload="none" id="audio" style="display: none;">'+
      //- '<source src="https://xdonat.com/donation/tts" type="audio/ogg"/>'+
      //- '<source src="https://xdonat.com/donation/tts" type="audio/mpeg"/>'+
      //- '</audio>');
      //- }
      function appendAudio(){
      $('#audio-container').append(
      '<audio controls id="audio" style="display: none;">'+
      '<source src="http://localhost:3000/donation/tts" type="audio/ogg"/>'+
      '<source src="http://localhost:3000/donation/tts" type="audio/mpeg"/>'+
      '</audio>');
      }
      function removeAudio(){
      $('#audio').remove();
      }
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='/soundmanager/script/soundmanager2.js')
