doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=EB+Garamond&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Righteous', rel='stylesheet')
    title Text Donation
    style(media='screen').
      *, *:before, *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: relative;
      }
      h1 {
        display: inline-block;
        color: #0abde3;
        font-family: 'Righteous', serif;
        font-size: 8em; 
        text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
        }
        h1:after {
          content: attr(data-shadow);
          position: absolute;
          top: .06em; left: .06em;
          z-index: -1;
          text-shadow: none;
          background-image:
            linear-gradient(
              45deg,
              transparent 45%,
              hsla(48,20%,90%,1) 45%,
              hsla(48,20%,90%,1) 55%,
              transparent 0
              );
          background-size: .05em .05em;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        
          animation: shad-anim 15s linear infinite;
          }

      @keyframes shad-anim {
        0% {background-position: 0 0}
        0% {background-position: 100% -100%}
        }
        .container {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: 'EB Garamond', serif;
        }

    script(src='/socket.io/socket.io.js')
  body
    #donation.container(style='display:none;')
      h1#donater-info
      h2#amount
      h2#text



    script(type='text/javascript').
      var socket = io();
      if (socket !== null) {
      
      var room = "#{user_token}";

      // Connection
      socket.on('connect', function() {
        socket.emit('room', room);
        console.log('connected to ' + room);
      });

      // Donation
      socket.on('text', function(data) {

      showDonation(data)
      soundSetup()


      function soundSetup(){

      var soundUrl = "/sounds/" + "#{user_token}.mp3"
      console.log(soundUrl)

      soundManager.setup({
          url: '/soundmanager/swf/',
          onready: function() {
          var mySound = soundManager.createSound({
          id: 'aSound',
          url: soundUrl
          });
          mySound.play();
          },
          ontimeout: function() {
              console.log('Could not load file')
          }
      });

      }

      setTimeout(function() {
      hideDonation()
      }, 5000);

      });


      }
      
      function showDonation(data) {
      console.log(data)
      var donationObj = JSON.parse(data)
      var x = document.getElementById("donation");
      x.style.display = "block";
      document.getElementById("donater-info").innerHTML = donationObj.donater;
      document.getElementById("amount").innerHTML = donationObj.amount + ' рублей';
      document.getElementById("text").innerHTML = donationObj.text;
      }

      function hideDonation() {
      var x = document.getElementById("donation");
      x.style.display = "none";
      }
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='/soundmanager/script/soundmanager2.js')
